doctype html
html
    head
        title Макет №2
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href="style/style.css" rel="stylesheet" type="text/css")
        link(href="style/style-header.css" rel="stylesheet" type="text/css")
        link(href="style/style-main.css" rel="stylesheet" type="text/css")
        link(href="style/style-footer.css" rel="stylesheet" type="text/css")
        link(href="style/style-1115.css" rel="stylesheet" type="text/css")
        link(href="style/style-1024.css" rel="stylesheet" type="text/css")
        link(href="style/style-900.css" rel="stylesheet" type="text/css")
        link(href="style/style-414.css" rel="stylesheet" type="text/css")
    body
        div.page-wrapper
            div.header
                div.bar-up
                div.bar-down
                    div.logo indipixel
                    div.contact
                        a(href="index.html") CONTACT US
                    div.clearfix
            div.main
                div.main-up
                    div.box
                        div.box-title WE DESIGN AND BUILD BEAUTIFUL WEB & MOBILE APPS
                        div.box-article.
                            You can design and create, and build the most wonderful place in the world.
                            But it takes people to make the dream
                            a reality. - Walt Disney
                        hr.box-line
                        div.box-button KNOW MORE
                    div.clearfix
                div.main-down
                    form.forma(action="index.html" method="post")
                        div.forma-title Lets Talk
                        div.string-one
                            input.first-name(type="text" placeholder="First Name")
                            input.last-name(type="text" placeholder="Last Name")
                            div.clearfix
                        div.string-two
                            input.mail(type="text" placeholder="Email Address")
                            select.select
                                option App Design
                            div.clearfix
                        textarea.area(placeholder="Type your query here")
                        input.submit(type="submit" value="SEND")
                        div.clearfix
                    div.clearfix
                div.image-line
                div.image-phone
            div.footer
                div.year &copy; 2015 indipixel design
                div.email
                    div.image-email
                    div.text-email contact@yourmail.com
                    div.clearfix
                div.clearfix