@media screen and (max-width: 414px) {
  .header .bar-up {
    height: 50px;
  }
  .header .bar-down .logo {
    line-height: 100px;
    margin: 0 0 0 1%;
  }
  .header .bar-down .contact a {
    font-size: 16px;
  }
  .main .main-up .box {
    margin: 50px 0 50px 0;
  }
  .main .main-up .box .box-title {
    width: 100%;
    font-size: 22px;
  }
  .main .main-up .box .box-article {
    width: 100%;
    font-size: 15px;
  }
  .main .main-down .forma {
    margin: 20px 0 0 0;
    width: calc(100% - 20px);
  }
  .main .main-down .forma .forma-title {
    font-size: 22px;
  }
  .main .main-down .forma .string-one,
  .main .main-down .forma .string-two {
    width: 100%;
    margin: 0;
    display: block;
  }
  .main .main-down .forma .string-one .first-name,
  .main .main-down .forma .string-one .last-name,
  .main .main-down .forma .string-two .mail {
    font-size: 20px;
    width: calc(100% - 20px);
    margin: 0 0 20px 0;
  }
  .main .main-down .forma .string-two .select {
    font-size: 20px;
    width: 100%;
    background-position: 105% -25px;
    margin: 0 0 20px 0;
  }
  .main .main-down .forma .area {
    float: none;
    font-size: 20px;
  }
  .main .image-phone {
    display: none;
  }
  .main .image-line {
    display: none;
  }
  .footer .year {
    float: none;
    font-size: 14px;
    margin: 0;
    text-align: center;
  }
  .footer .email {
    float: none;
    font-size: 14px;
    margin: 0;
    text-align: center;
  }
  .footer .email .image-email {
    display: none;
  }
  .footer .email .text-email {
    float: none;
  }
}
