@charset "utf-8";
/* header */
.header {
	background: #e94643;
	height: auto;
}
.header-bar1 {
	background: #04e4a2;
	width: 100%;
	height: 20px;
}
.header-bar2 {
	width: 100%;
	height: auto;
}
.logo {
	font-family: "Montserrat-Bold";
	color: #ffffff;
	font-size: 32px;
	line-height: 75px;
	margin-left: 13%;
	float: left;
}
.contact {
	line-height: 75px;
	margin-right: 6%;
	float: right;
}
.contact a {
	color: #ffffff;
	text-decoration: none;
	font-family: "Gotham-Book-Regular";
	font-size: 17px;
}
.contact a:hover {
	border-bottom: 2px solid #fdd835;
}