@charset "utf-8";
.main {
  width: 100%;
  height: auto;
}
.main .main-up {
  width: 100%;
  height: auto;
  background: #ef5350;
}
.main .main-up .box {
  margin: 165px 5% 100px 0;
  padding: 10px;
  width: auto;
  height: auto;
  float: right;
}
.main .main-up .box .box-title {
  width: 470px;
  height: auto;
  font-family: "MR";
  font-size: 28px;
  color: #fff;
  line-height: 28px;
  margin: 0 0 30px 0;
}
.main .main-up .box .box-article {
  width: 470px;
  height: auto;
  font-family: "MUL";
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  margin: 0 0 30px 0;
}
.main .main-up .box .box-line {
  border: 1px dashed #e94643;
  margin: 0 0 30px 0;
}
.main .main-up .box .box-button {
  float: right;
  margin: 0 0.6% 0 0;
  font-family: "MR";
  font-size: 15px;
  text-align: center;
  line-height: 50px;
  width: 150px;
  height: auto;
  background: #04e4a2;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.main .main-down {
  width: 100%;
  height: auto;
  background: #fff;
}
.main .main-down .forma {
  margin: 20px 5% 20px 0;
  padding: 10px;
  width: auto;
  height: auto;
  float: right;
}
.main .main-down .forma .forma-title {
  height: auto;
  color: #ff8a80;
  font-family: "ML";
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 20px 4.5%;
}
.main .main-down .forma .string-one,
.main .main-down .forma .string-two {
  width: 470px;
  height: auto;
  margin: 0 0 20px 0;
  word-spacing: 17px;
}
.main .main-down .forma .string-one .first-name,
.main .main-down .forma .string-one .last-name,
.main .main-down .forma .string-two .mail {
  width: 43%;
  height: auto;
  border: 1px solid #e3f2fd;
  border-radius: 5px;
  font-size: 16px;
  line-height: 42px;
  padding: 0 0 0 20px;
  display: inline-block;
}
.main .main-down .forma .string-two .select {
  width: 47.5%;
  height: 46px;
  border: 1px solid #e3f2fd;
  border-radius: 5px;
  font-size: 16px;
  line-height: 42px;
  padding: 0 0 0 20px;
  -webkit-appearance: none;
  background: #fff url("../image/image.png") no-repeat;
  background-position: 105% -25px;
}
.main .main-down .forma .area {
  float: left;
  width: calc(100% - 25px);
  height: 80px;
  border: 1px solid #e3f2fd;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 0 0 20px;
  margin: 0 0 15px 0;
  resize: none;
}
.main .main-down .forma .submit {
  float: right;
  width: 110px;
  height: 44px;
  border-radius: 5px;
  background: #ef5350;
  border: 0;
  color: #fff;
  font-size: 20px;
  font-family: "MSB";
  cursor: pointer;
}
.main .image-phone {
  position: absolute;
  top: 153px;
  left: 7%;
  background: url("../image/image.png") no-repeat;
  width: 350px;
  height: 720px;
  background-position: 0px -115px;
  background-size: 605px 1600px;
}
.main .image-line {
  position: absolute;
  top: 128px;
  background: url("../image/image.png") no-repeat;
  background-position: -125px -1138px;
  width: 550px;
  height: 690px;
}
