@charset "utf-8";
/* 414 убрать картинки*/
@media screen and (max-width: 414px) {
	.header-bar1 {
		height: 50px;
	}
	.logo {
		line-height: 100px;
		margin-left: 1%;
	}
	.contact a {
		font-size: 16px;
	}
	.article-form {
		margin: 165px 0 100px 0;
		padding: 10px;
	}
	.form-title {
		width: 100%;
		font-size: 22px;
	}
	.form-article {
		width: 100%;
		font-size: 15px;
	}
	.talk-form {
		margin: 20px 0 0 0;
		padding: 10px;
		width: calc(100% - 20px);
	}
	.title-talk {
		font-size: 22px;
	}
	.stroka1 {
		width: 100%;
	}
	.first-name {
		float: none;
		font-size: 20px;
		width: calc(100% - 20px);
		margin-bottom: 20px;
	}
	.last-name {
		float: none;
		font-size: 20px;
		width: calc(100% - 20px);
	}
	.stroka2 {
		width: 100%;
	}
	.email {
		float: none;
		font-size: 20px;
		width: calc(100% - 20px);
		margin-bottom: 20px;
	}
	.select {
		float: none;
		width: 100%;
		font-size: 20px;
		background-position: 95% 50%;
	}
	.area {
		float: none;
		font-size: 20px;
	}
	.phone {
		display: none;
	}
	.screen {
		display: none;
	}
	.line1 {
		display: none;
	}
	.line2 {
		display: none;
	}
	.footer-year {
		float: none;
		font-size: 14px;
		margin-left: 0;
		text-align: center;
	}
	.footer-email {
		float: none;
		font-size: 14px;
		margin-right: 0;
	}
	.footer-email-image {
		display: none;
	}
	.footer-email-text {
		width: 100%;
		text-align: center;
	}
}